<%= provide(:heading, @product.name) %>

<div class="row">
  <!-- image -->
  <div class="col-sm-6 col-md-4 col-lg-3 col-md-offset-1">
    <div class="product-image" style="background-image: url(<%= @product[:imgurl] %>)"></div>
  </div>
  <!-- description and price -->
  <div class="col-sm-6 col-md-4 col-lg-3">
    <p><%= @product.description %></p>
    <h4>$<%= '%.2f'% @product.price %></h4>
  </div>
  <!-- review form -->
  <div class="col-sm-6 col-md-4 col-lg-3 review-textarea">
    <section>
      <% if logged_in? %>
        <%= render 'partials/review_form' %>
      <% end %>
    </section>
  </div>

</div>

<!-- reviews of the product -->
<div class="row review-row">
  <div class="col-md-8 review-col">
    <% if @product.reviews.any? %>
      <h4>Product reviews: <%= @product.reviews.count %></h4>
      <ol class="reviews">
        <%= render @product.reviews %>
      </ol>
    <% end %>
  </div>
</div>
