<% @name = review.user.email.split('@') %>
<li id="review-<%= review.id %>">
  <span class="user"><%= @name[0].capitalize %> commented on <i><%= review.product.name %></i>:</span>
  <span class="content"><%= review.content.capitalize %></span>
  <span class="timestamp">
  <%= time_ago_in_words(review.created_at) %> ago.
  </span>
</li>
